.methods {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15%;

  .methods-box {
    h4 {
      font-size: 2.1rem;
      color: #9d97bd;
    }

    .item {
      display: flex;
      align-items: flex-start;
      margin-top: 50px;
      img {
        margin-right: 50px;
        &[alt='check'] {
          width: 61px;
        }
      }
    }
  }

  @include tablet {
    grid-template-columns: 1fr;

    img,
    .item img[alt='check'] {
      width: 40px;
    }

    .methods-box {
      h4 {
        font-size: 1.9rem;
      }
    }
  }

  @include mobile {
    .methods-box {
      h4 {
        font-size: 1.3rem;
      }
    }
  }
}

//footer

.main-footer {
}
.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 50px 0px;
}
.footer-logos {
  ul {
    display: flex;
    width: 275px;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 40px 0px;
  }
  li {
    margin: 10px;
  }
  p {
    text-align: left;
    margin-left: 77px;
    color: #aba6ca;
    text-transform: none;
  }
}

.logo-text {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  margin-left: 5rem;
  h3 {
    margin-left: 2rem;
    margin-top: 5px;
    text-transform: none;
    font-size: 27px;
  }
}

.text-column {
  p {
    text-align: left;
    color: #aba6ca;
    text-transform: none;
    margin-bottom: 15px;
  }
  .heading {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

.bottom-line {
  background-color: #545168;
  height: 50px;
}
