.methods {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15%;

  .to-do,
  .not-to-do {
    h4 {
      font-size: 2.1rem;
      color: #9d97bd;
    }

    .item {
      display: flex;
      align-items: flex-start;
      margin-top: 50px;
      img {
        margin-right: 50px;
        &[alt='check'] {
          width: 61px;
        }
      }
    }
  }

  @include tablet {
    grid-template-columns: 1fr;

    img,
    .not-to-do .item img[alt='check'] {
      width: 40px;
    }
  }
}
