@import '../breakpoints';
.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  align-items: center;

  .logo-area {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    img {
      display: block;
      width: 60px;
      height: 50px;
    }

    .text {
      margin-left: 30px;
      font-weight: bold;
      text-transform: none;
      color: var(--blue-100);
      font-size: clamp(10px, 2vw, 2rem);
      line-height: 3rem;
    }
  }

  .right-part {
    display: flex;
  }

  .site-menu {
    display: flex;
    list-style: none;

    li {
      margin-left: 20px;
    }

    a {
      font-size: clamp(8px, 1.3vw, 1rem);
      text-decoration: none;
      color: var(--primary-text-color);
      cursor: pointer;
    }
  }

  // .socials {
  //   transform: translateX(30px);

  //   li:first-child {
  //     margin-top: 3px;
  //   }

  //   a {
  //     display: flex;
  //     align-items: center;
  //   }

  //   img {
  //     margin-right: 5px;

  //     &[alt='github logo'] {
  //       width: 25px;
  //       height: 25px;
  //     }

  //     &[alt='discord logo'] {
  //       width: 24px;
  //       height: 22px;
  //     }
  //   }
  // }

  @include tablet {
    .logo-area {
      flex-direction: column;

      img {
        margin: 0 auto;
      }
      .text {
        margin: 0;
        font-size: 1.2rem;
      }
    }

    .site-menu {
      margin-right: 20px;
    }

    .site-menu,
    .socials {
      a {
        font-size: clamp(12px, 2vw, 1.5rem);
      }
    }

    .socials {
      transform: translateX(0);
    }

    .social-text {
      display: none;
    }
  }

  @media (max-width: 613px) {
    .site-menu {
      display: none;
    }
  }
}

.header-gradient {
  position: absolute;
  top: -75px;
  z-index: 2;
  user-select: none;
}

.main-header {
  position: relative;
  z-index: 3;
  .main-heading {
    font-size: min(3vw, 3.5rem);
    line-height: 4rem;
    padding-right: 10px;
  }

  .hero-section {
    display: flex;
    padding: 150px 0 110px 0;
    position: relative;
  }

  .hero-img {
    width: 590px;
    flex-shrink: 0;
    height: 350px;
    z-index: -1;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 15px;
    box-shadow: 0px 0px 50px 10px #802fce, 1px 50px 300px 30px #ae5ccf;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .primary-text {
    margin: 60px 0;
    width: 80%;
  }

  .btn {
    padding: 10px 42px;
  }

  .widget {
    position: absolute;
    z-index: 9;
    img {
      width: 100%;
    }
  }

  .figure {
    top: -100px;
    right: 80px;
    width: 160px;
  }

  .pipe {
    width: 80px;
    left: 60px;
    bottom: -60px;
  }

  .cursor {
    width: 200px;
    right: 80px;
    top: 380px;
  }

  .plus-1 {
    right: -40px;
    top: -40px;
  }

  .plus-2 {
    left: -50px;
    top: 140px;
    width: 30px;
  }

  .plus-3 {
    bottom: 45px;
    right: 360px;
  }

  .plus-4 {
    width: 20px;
    right: 350px;
    left: -30px;
    bottom: 40px;
  }

  .plus-5 {
    width: 20px;
    right: 25px;
    top: 390px;
  }

  .img-part {
    position: relative;
  }

  @include hero-img-breakpoint {
    .hero-img {
      width: 490px;
      height: 300px;
    }

    .plus-1,
    .plus-2,
    .plus-4,
    .pipe {
      display: none;
    }

    .cursor {
      top: 420px;
      width: 160px;
    }
  }

  @include tablet {
    .widget {
      display: none;
    }

    .hero-section {
      padding-top: 70px;
      flex-direction: column;
      width: 90%;
    }

    br {
      display: none;
    }

    .hero-img {
      width: clamp(300px, 100%, 500px);
      height: clamp(100px, 80%, 300px);
      margin: 0;
      margin-bottom: 20px;
    }

    .main-heading {
      line-height: 3rem;
      font-size: clamp(1.5rem, 4.5vw, 5rem);
    }
  }
}
