.noob-to-junior {
  margin-top: 15rem;
  .blue-highlight {
    color: var(--blue-100);
  }

  article:first-child {
    margin-bottom: 10rem;
  }
}

.road-map {
  position: relative;
  color: #6a61a5;

  .road-table {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas:
      '. central1 central1 central1 .'
      '. central2 central2 central2 right1'
      '. central3 central3 central3 right2'
      'left1 central4 central4 central4 right3'
      'left2 central5 central5 central5 right4'
      '. central6 central6 central6 .';
  }

  @for $i from 1 to 8 {
    .central#{$i} {
      grid-area: central#{$i};
    }
  }

  @for $i from 1 to 5 {
    .right#{$i} {
      grid-area: right#{$i};
    }
  }

  @for $i from 1 to 3 {
    .left#{$i} {
      grid-area: left#{$i};
    }
  }

  .widget {
    position: absolute;

    img {
      width: 100%;
    }

    &.figure1 {
      width: 160px;
      left: 200px;
      top: 90px;
    }

    &.figure2 {
      width: 60px;
      top: 130px;
      left: 150px;
    }

    &.figure3 {
      width: 60px;
      top: 370px;
      right: 0;
    }

    @media (max-width: 1100px) {
      &.figure1 {
        left: 120px;
      }

      &.figure2 {
        left: 50px;
      }
    }
  }

  p {
    line-height: 1.4;
  }

  .vertical-link {
    background: blue;
    height: 100%;
    width: 5px;
  }

  img {
    width: 30px;

    &[alt='books'] {
      width: 27px;
    }

    &[alt='github'] {
      width: 25px;
    }
  }

  li {
    text-transform: lowercase;
  }

  .central-col {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    &:first-child {
      img {
        width: 25px;
      }
    }
  }

  .left-col {
    margin-top: -30px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .right-col {
    padding-left: 20px;
    margin-top: -30px;
  }

  .flex-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .vertical-link {
    content: '';
    position: absolute;
    height: calc(100% - 60px);
    width: 8px;
    background-color: var(--accent-color);
    bottom: 10px;
  }

  .link-left,
  .link-right {
    position: relative;
    height: 200px;
  }

  .link-right::after {
    @extend .vertical-link;
    right: 16px;
  }

  .link-left::before {
    @extend .vertical-link;
    left: 16px;
  }

  .steps {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .step {
    user-select: none;
    background-color: var(--accent-color);
    color: var(--white);
    padding: 10px 16px;
    border-radius: 50%;
  }

  .step-link {
    background-color: var(--accent-color);
    height: 8px;
    width: 100%;
    margin: 0 10px;
  }

  p {
    margin: 5px 0;
  }

  .highlight {
    color: #b1a7ee;
  }

  @include tablet {
    .road-table {
      width: 100%;
    }

    p {
      font-size: 0.8rem;
    }

    .figure1 {
      display: none;
    }

    .widget.figure2 {
      left: 0;
    }
  }

  @include mobile {
    .widget {
      display: none;
    }
    .road-table {
      grid-template-areas:
        '. central1 central1 central1 central1'
        '. central2 central2 central2 right1'
        '. central3 central3 central3 right2'
        'left1 central4 central4 central4 right3'
        'left2 central5 central5 central5 right4'
        'central6 central6 central6 central6 central6';
      .steps {
        flex-direction: column;
      }
    }

    .right-col {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .link-left,
    .link-right {
      height: 300px;
      margin: 20px 0;

      .steps {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;

        &.mobile-reverse {
          flex-direction: column-reverse;
        }
      }

      .step-link {
        width: 8px;
        height: calc(100% - 90px);
      }
      &::before,
      &::after {
        display: none;
      }
    }
  }
}
