.partners {
  --partner-border-width: 10px;
  .section-heading {
    display: inline-block;
  }
  .legend {
    display: flex;
    align-items: center;
    margin: 3.5rem 0 4.5rem 0;
    .legend-dot {
      border: 10px solid transparent;
      border-radius: 50%;
      display: inline-block;
      margin-right: 1rem;
    }
    .legend-text {
      margin-right: 1.5rem;
      color: var(--blue-200);
    }
    .green-dot {
      background-color: var(--green);
    }
    .red-dot {
      background-color: var(--red);
    }
    .blue-dot {
      background-color: var(--blue-400);
    }
  }

  .touch-slider {
    width: 111%;
    margin-left: -5.5%;
    overflow: hidden;
  }

  .patrons {
    display: flex;
    overflow-x: hidden;
    transition: margin 0.2s;
    padding: 50px 90px;
    .patron {
      width: 200px;
      flex-shrink: 0;
      user-select: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 90px;

      .patron-text {
        text-align: center;
        margin-top: 2rem;
        color: var(--blue-200);
      }
    }
  }

  .green-patron {
    border: var(--partner-border-width) solid var(--green);
    border-radius: 50%;
    filter: drop-shadow(11px 2px 71px #1abc9c);
  }
  .red-patron {
    border: var(--partner-border-width) solid var(--red);
    border-radius: 50%;
    filter: drop-shadow(11px 2px 71px #ff4949);
  }
  .blue-patron {
    border: var(--partner-border-width) solid var(--blue-400);
    border-radius: 50%;
    filter: drop-shadow(11px 2px 71px #095dff);
  }

  .patron-image {
    object-fit: cover;
    width: 170px;
    height: 170px;
  }

  .btn {
    margin-top: 6rem;
  }

  @media (max-width: 580px) {
    .legend {
      display: block;
      &-item {
        margin-bottom: 10px;
      }
    }
  }

  @include mobile {
    --partner-border-width: 3px;
    .patrons {
      padding: 50px 20px;
      text-align: center;
      .patron {
        width: 130px;

        &-image {
          width: 100px;
          height: 100px;
        }

        &-text {
          font-size: 0.8rem;
        }
      }
    }
  }
}
