.road-map {
  position: relative;
  color: #6a61a5;
  .widget {
    position: absolute;
    display: none;
  }

  .road-row {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    .flex-col {
      display: flex;
      align-items: center;
    }

    .step {
      background-color: var(--accent-color);
      color: var(--white);
      padding: 10px 16px;
      border-radius: 50%;
    }

    .step-link {
      background-color: var(--accent-color);
      height: 5px;
      width: 100%;
      margin: 0 10px;
    }

    p {
      margin: 5px 0;
    }
  }

  .highlight {
    color: #b1a7ee;
  }
}
