@import '../breakpoints';
.support-us {
  position: relative;

  .grid {
    display: grid;
    grid-template-columns: 1fr 400px;
  }

  // .model-img {
  //   width: 800px;
  //   height: 400px;
  // }

  .rocket {
    object {
      width: 100%;
      height: 60%;
    }
  }

  .section-heading {
    display: inline-block;
  }
  .btn {
    margin-top: 6rem;
    transition: 250ms;
    &:hover{
      background-color: #e9e8fd;
      color: #000;
      border: 3px solid #e9e8fd;
    }
  }

  .left-gradient {
    position: absolute;
    width: 375px;
    height: 900px;
    left: -75px;
    top: -300px;
    z-index: -1;
  }
  .right-gradient {
    position: absolute;
    height: 900px;
    width: 380px;
    right: -80px;
    top: -390px;
    z-index: -1;
  }

  .rocket {
    animation: float-y 3s ease-in infinite;
  }

  @include tablet {
    .grid {
      grid-template-columns: 1fr;
    }
    .rocket {
      display: none;
    }

    .right-gradient {
      display: none;
    }
  }

  @include mobile {
    .left-gradient {
      display: none;
    }
  }
}

.heading-image {
  padding-left: 1rem;
  width: 3.5rem;
}
