@import '../breakpoints';
.support-us {
  width: 80%;
  .section-heading {
    display: inline-block;
  }
    .btn {
    margin-top: 6rem;
  }
  &-right-gradient{
    position: absolute;
    left: 1515px;
    top: 5342px;
  }
 &-left-gradient {
   position: absolute;
   left: -855px;
   top: 6155px;
 }
  @include mobile {
    width: 100%;
  }
}

.heading-image {
  padding-left: 1rem;
  width: 3.5rem;
}
