@keyframes scale-up {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes float-y {
  0% {
    transform: translate(0);
  }

  33% {
    transform: translateY(10px);
  }

  66% {
    transform: translateY(-10px);
  }

  100% {
    transform: translate(0);
  }
}

.hover-scale-up {
  transition: 350ms;
  &:hover {
    transform: scale(1.2);
  }
}
