@import 'utilities';
@import './animations';
@import './sections/nav-and-header';
@import './sections/noob-to-junior';
@import './sections/portfolio';
@import './sections/methods';
@import './sections/partners';
@import './sections/support-us';
@import './sections/footer';
@import './breakpoints';

:root {
  --white: #fff;
  --blue-100: #d2d0f2;
  --blue-200: #d2d0f2;
  --blue-400: #095dff;
  --pink: #ff73fa;
  --accent-color: #d03bd2;
  --purple: #bf09ff;
  --green: #1abc9c;
  --red: #ff4949;
  --primary-color: #282636;
  --secondary-color: #37344b;
  --primary-text-color: #a9a5e4;
  --heading-color: #e9e8fd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background-color: var(--primary-color);
}

.main-area > section {
  margin-bottom: 15rem;
}

.socials {
  position: fixed;
  right: 0;
  z-index: 99999999;
  top: 50%;
  list-style: none;

  li {
    margin-bottom: 20px;
    margin-right: 10px;
  }

  img[alt='patreon logo'] {
    width: 23px;
    margin-left: 3px;
  }
}

@include tablet {
  .primary-text {
    font-size: clamp(0.9rem, 1.8vw, 2rem);
    line-height: 1.7rem;
  }
}
