$container-width: min(90%, 1440px);
.primary-text {
  text-transform: uppercase;
  font-size: min(1.5vw, 1.5rem);
  color: var(--primary-text-color);
}

.road-text {
  font-size: 1.2rem;
}

.underlined-text {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    height: 5px;
    width: 100%;
    background-color: var(--accent-color);
    left: 0;
    box-shadow: -5px 10px 61px var(--accent-color);
  }
}

.sm-text {
  font-size: 0.9rem;
}

.lowercase {
  text-transform: lowercase;
}

.section-heading {
  font-size: 3.5rem;
}

.btn {
  cursor: pointer;
  border: 0;
  outline: none;
  padding: 8px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;

  &-primary {
    background-color: var(--blue-400);
    color: var(--white);
  }
}

.container {
  margin: auto;
  width: $container-width;
}
