.primary-text {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--primary-text-color);
}

.road-text {
  font-size: 1.2rem;
}

.underlined-text {
  position: relative;
}
.underlined-text::after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 5px;
  width: 100%;
  background-color: var(--accent-color);
  left: 0;
  box-shadow: -5px 10px 61px var(--accent-color);
}

.sm-text {
  font-size: 0.9rem;
}

.lowercase {
  text-transform: lowercase;
}

.section-heading {
  font-size: 3.5rem;
}

.btn {
  cursor: pointer;
  border: 0;
  outline: none;
  padding: 8px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
.btn-primary {
  background-color: var(--blue-400);
  color: var(--white);
}

.container {
  margin: auto;
  width: min(90%, 1440px);
}

:root {
  --white: #fff;
  --blue-100: #d2d0f2;
  --blue-200: #d2d0f2;
  --blue-400: #095dff;
  --pink: #ff73fa;
  --accent-color: #d03bd2;
  --purple: #bf09ff;
  --primary-color: #282636;
  --secondary-color: #37344b;
  --primary-text-color: #a9a5e4;
  --heading-color: #e9e8fd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: var(--primary-color);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  align-items: center;
}
.main-nav .logo-area {
  display: flex;
  text-decoration: none;
  cursor: pointer;
}
.main-nav .logo-area img {
  width: 60px;
  height: 50px;
}
.main-nav .logo-area .text {
  margin-left: 30px;
  font-weight: bold;
  text-transform: none;
  color: #fff;
  font-size: 2rem;
  line-height: 3rem;
}
.main-nav .right-part {
  display: flex;
}
.main-nav .site-menu,
.main-nav .socials {
  display: flex;
  list-style: none;
}
.main-nav .site-menu li,
.main-nav .socials li {
  margin-left: 20px;
}
.main-nav .site-menu a,
.main-nav .socials a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--primary-text-color);
}
.main-nav .site-menu {
  margin-right: 60px;
}
.main-nav .socials {
  transform: translateX(30px);
}
.main-nav .socials li:first-child {
  margin-top: 3px;
}
.main-nav .socials a {
  display: flex;
  align-items: center;
}
.main-nav .socials img {
  margin-right: 5px;
}
.main-nav .socials img[alt="github logo"] {
  width: 28px;
  height: 28px;
}
.main-nav .socials img[alt="discord logo"] {
  width: 24px;
  height: 22px;
}

.main-header .main-heading {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(90deg, #e9e8fd, #e5bcff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 4rem;
}
.main-header .hero-section {
  display: flex;
  padding: 120px 0;
}
.main-header .hero-img {
  transform: scale(1.5) translateX(-50px) translateY(-20px);
}
.main-header .hero-img img {
  width: 100%;
  height: 100%;
}
.main-header .primary-text {
  margin: 60px 0;
}
.main-header .btn {
  padding: 10px 42px;
}

/*# sourceMappingURL=main.css.map */
