@import 'utilities';

:root {
  --white: #fff;
  --blue-100: #d2d0f2;
  --blue-200: #d2d0f2;
  --blue-400: #095dff;
  --pink: #ff73fa;
  --accent-color: #d03bd2;
  --purple: #bf09ff;
  --primary-color: #282636;
  --secondary-color: #37344b;
  --primary-text-color: #a9a5e4;
  --heading-color: #e9e8fd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background-color: var(--primary-color);
}

.main-nav {
  display: flex;
  justify-content: space-between;

  padding-top: 2rem;
  align-items: center;

  .logo-area {
    display: flex;

    img {
      width: 60px;
      height: 50px;
    }

    .text {
      margin-left: 30px;
      font-weight: bold;
      text-transform: none;
      color: #fff;
      font-size: 2rem;
      line-height: 3rem;
    }
  }

  .right-part {
    display: flex;
  }

  .site-menu,
  .socials {
    display: flex;
    list-style: none;

    li {
      margin-left: 20px;
    }

    a {
      font-size: 1rem;
      text-decoration: none;
      color: var(--primary-text-color);
    }
  }

  .site-menu {
    margin-right: 60px;
  }

  .socials {
    transform: translateX(30px);

    li:first-child {
      margin-top: 3px;
    }

    a {
      display: flex;
      align-items: center;
    }

    img {
      margin-right: 5px;

      &[alt='github logo'] {
        width: 28px;
        height: 28px;
      }

      &[alt='discord logo'] {
        width: 24px;
        height: 22px;
      }
    }
  }
}
