.primary-text {
  text-transform: uppercase;
  font-size: min(1.5vw, 1.5rem);
  color: var(--primary-text-color);
}

.road-text {
  font-size: 1.2rem;
}

.underlined-text {
  position: relative;
}
.underlined-text::after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 5px;
  width: 100%;
  background-color: var(--accent-color);
  left: 0;
  box-shadow: -5px 10px 61px var(--accent-color);
}

.sm-text {
  font-size: 0.9rem;
}

.lowercase {
  text-transform: lowercase;
}

.section-heading {
  font-size: 2.5rem;
  color: var(--heading-color);
  margin-bottom: 3rem;
}

.btn {
  cursor: pointer;
  border: 3px solid var(--blue-400);
  color: var(--white);
  background: none;
  outline: none;
  padding: 8px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
.btn-primary {
  background-color: var(--blue-400);
  color: var(--white);
  cursor: pointer;
  border: 0;
  outline: none;
  padding: 8px 35px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
}

.container {
  margin: auto;
  width: min(90%, 1440px);
}

.main-footer {
  width: 100%;
  text-align: center;
  color: var(--white);
  background: var(--secondary-color);
  padding: 1rem 0;
}

:root {
  --white: #fff;
  --blue-100: #d2d0f2;
  --blue-200: #d2d0f2;
  --blue-400: #095dff;
  --pink: #ff73fa;
  --accent-color: #d03bd2;
  --purple: #bf09ff;
  --primary-color: #282636;
  --secondary-color: #37344b;
  --primary-text-color: #a9a5e4;
  --heading-color: #e9e8fd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: var(--primary-color);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  align-items: center;
}
.main-nav .logo-area {
  display: flex;
  text-decoration: none;
  cursor: pointer;
}
.main-nav .logo-area img {
  width: 60px;
  height: 50px;
}
.main-nav .logo-area .text {
  margin-left: 30px;
  font-weight: bold;
  text-transform: none;
  color: #fff;
  font-size: 2rem;
  line-height: 3rem;
}
.main-nav .right-part {
  display: flex;
}
.main-nav .site-menu,
.main-nav .socials {
  display: flex;
  list-style: none;
}
.main-nav .site-menu li,
.main-nav .socials li {
  margin-left: 20px;
}
.main-nav .site-menu a,
.main-nav .socials a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--primary-text-color);
  cursor: pointer;
}
.main-nav .site-menu {
  margin-right: 60px;
}
.main-nav .socials {
  transform: translateX(30px);
}
.main-nav .socials li:first-child {
  margin-top: 3px;
}
.main-nav .socials a {
  display: flex;
  align-items: center;
}
.main-nav .socials img {
  margin-right: 5px;
}
.main-nav .socials img[alt="github logo"] {
  width: 28px;
  height: 28px;
}
.main-nav .socials img[alt="discord logo"] {
  width: 24px;
  height: 22px;
}

.header-gradient {
  position: absolute;
  top: -75px;
  z-index: 2;
}

.main-header {
  position: relative;
  z-index: 3;
}
.main-header .main-heading {
  font-size: min(3vw, 3.5rem);
  background: -webkit-linear-gradient(90deg, #e9e8fd, #e5bcff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 4rem;
  width: 80%;
}
.main-header .hero-section {
  display: flex;
  padding: 110px 0;
  position: relative;
}
.main-header .hero-img {
  transform: scale(1.5) translateX(-50px) translateY(-20px);
  width: 590px;
  flex-shrink: 0;
  height: 600px;
  z-index: -1;
}
.main-header .hero-img img {
  width: 100%;
  height: 100%;
}
.main-header .primary-text {
  margin: 60px 0;
}
.main-header .btn {
  padding: 10px 42px;
}
.main-header .widget {
  position: absolute;
  z-index: 9;
}
.main-header .widget img {
  width: 100%;
}
.main-header .figure {
  top: 40px;
  right: 45px;
  width: 160px;
}
.main-header .pipe {
  width: 80px;
  right: 380px;
  top: 490px;
}
.main-header .cursor {
  width: 200px;
  right: 40px;
  top: 490px;
}
.main-header .plus-1 {
  right: -40px;
  top: 70px;
}
.main-header .plus-2 {
  right: 530px;
  top: 250px;
}
.main-header .plus-3 {
  top: 450px;
  right: 280px;
}
.main-header .plus-4 {
  width: 20px;
  top: 460px;
  right: 500px;
}
.main-header .plus-5 {
  width: 20px;
  right: 25px;
  top: 500px;
}

.portfolio .portfolio-items {
  display: flex;
}
.portfolio .portfolio-items .portfolio-item {
  width: 700px;
  height: 590px;
  background: linear-gradient(177.94deg, #37344b 1.49%, rgba(55, 52, 75, 0) 98.05%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio .portfolio-items .portfolio-item .portfolio-image {
  width: 600px;
  height: 300px;
  object-fit: cover;
  border: 10px solid var(--accent-color);
  box-sizing: border-box;
  box-shadow: -5px 10px 61px #d03ad2;
  display: block;
  margin: 2.5rem auto;
}
.portfolio .portfolio-items .portfolio-item .portfolio-buttons {
  margin: 0 5rem 5rem 0;
  display: flex;
  justify-content: right;
}
.portfolio .portfolio-items .portfolio-item .portfolio-buttons .button-github-image {
  width: 1.5rem;
  text-align: center;
}

.heading-image {
  padding-left: 1rem;
  width: 3.5rem;
}

/*# sourceMappingURL=main.css.map */
